body {
  font-family: Arial, sans-serif;
  background-color: #f9f5eb;
  color: #333;
}

.app {
  text-align: center;
}

.header {
  background-color: #4caf50;
  padding: 20px;
  color: white;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.weather-grid {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.weather-card {
  background-color: #e0f7fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-det {
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.about, .faq {
  margin: 20px;
  padding: 20px;
}
 iframe {
  width: 400px; 
  height:300px; 
  border-radius:2px;
  border-color: black;
 }